:root {
  --layer0: rgb(216, 216, 216);
  --layer1: rgb(54,54,54);
  --layer2: rgb(63,63,63);
  --layer3: rgb(72,72,72);

  --text-color: rgb(27, 27, 27);
  --invert-text-color: rgb(218, 218, 218);

  --foreground: rgb(80, 104, 156);
  --foreground-sub: rgb(122, 158, 182);

  --logoHeight: 50px;
  --navbarHeight: 40px;
  --navHeight: 50px;
  --footerHeight: 30px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border:none;
  border-bottom: var(--text-color) solid 1px;
}

em {
  font-style:italic;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

.center-x, .center-y, .center {
  position: relative;
}

.center-y {
  transform: translateY(-50%);
  top: 50%;
}

.center-x {
  transform: translateX(-50%);
  left: 50%;
}

.center {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.half-opacity {
  opacity: .5;
}